<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>测试样例</title>
</head>
<script src="/js/jquery-3.5.1.min.js"></script>
<script>
    var socket;
    function openSocket() {
        if(typeof(WebSocket) == "undefined") {
            console.log("您的浏览器不支持WebSocket");
        }else{
            console.log("您的浏览器支持WebSocket");
            var socketUrl="http://localhost:8111/tsdb/playback/"+$("#yxid").val();
            socketUrl=socketUrl.replace("https","ws").replace("http","ws");
            console.log(socketUrl);
            if(socket!=null){
                socket.close();
                socket=null;
            }
            socket = new WebSocket(socketUrl);
            //打开事件
            socket.onopen = function() {
                console.log("websocket已打开");
                //socket.send("这是来自客户端的消息" + location.href + new Date());
            };
            //获得消息事件
            socket.onmessage = function(msg) {
                console.log(msg.data);
                //发现消息进入    开始处理前端触发逻辑
            };
            //关闭事件
            socket.onclose = function() {
                console.log("websocket已关闭");
            };
            //发生了错误事件
            socket.onerror = function() {
                console.log("websocket发生了错误");
            }
        }
    }
    function sendMessage() {



        if(typeof(WebSocket) == "undefined") {
            console.log("您的浏览器不支持WebSocket");
        }else {
            console.log("您的浏览器支持WebSocket");
            console.log('{"tableName":"'+$("#tableName").val()+'","yxid":"'+$("#yxid").val()+'","realTime":"'+$("#realTime").val()+'","step":"'+$("#step").val()+'"}');
            socket.send('{"tableName":"'+$("#tableName").val()+'","yxid":"'+$("#yxid").val()+'","realTime":"'+$("#realTime").val()+'","step":"'+$("#step").val()+'"}');
        }
    }
    function stop() {
        $.ajax({
            url:"http://localhost:8111/tsdb/playback/stop/"+$("#yxid").val(),
            success:function(result){
                $("#res").html(result.msg);
            }});

    }
</script>
<body>
<p>【数据表】：<div><input id="tableName" name="tableName" type="text" value="screen:ddos"></div>
<p>【攻击场景】：<div><input id="yxid" name="yxid" type="text" value="20"></div>
<p>【起始时间】：<div><input id="realTime" name="realTime" type="text" value="10"></div>
<p>【步长】：<div><input id="step" name="step" type="text" value="5"></div>
<p>【操作】：<div><a onclick="openSocket()">建立连接</a></div>
<p>【操作】：<div><a onclick="sendMessage()">发送回放请求</a></div>
<p>【暂停】：<div><a onclick="stop()">暂停</a></div>

<p>【结果】：<div id="res"></div></p>
</body>

</html>